<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
    }

    h1 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }
</style>
</head>
<body>
<h1>Book List</h1>
<ul>
    {% for book in books %}
        <li>Name: {{ book.name }}</li>
        <li>Title: {{ book.title }}</li>
        <li>Author: {{ book.author.name }} {{ book.author.surname }}</li>
        <li>WroteAt: {{ book.wroteAt|date("m.d.Y")}}</li>
        <li>File Path: {{ book.filePath }}</li>
        <li>text: {{ book.text }}</li>
        <br><br>
    {% endfor %}
</ul>
</body>
</html>